DISTRO  := poky
IMAGE   := core-image-minimal
MACHINE := qemux86-64

build:
	bitbake ${IMAGE}

OB_MANUAL_TARGETS += clean
clean:
	${RM} -r ${OB_BUILD_DIR}

DL_DIR     ?= ${OB_ROOT_DIR}/downloads
SSTATE_DIR ?= ${OB_ROOT_DIR}/sstate-cache
